alias reload="source ~/.bashrc"

# shell commands
alias ls="ls -a"
alias ll="ls -lahrt"
alias l1="ls -1ahrt"

alias ff="find . -type f -name"

function mkcd () {
  mkdir -pv "$1" && cd "$1"
}

alias ..2="../../"
alias ..3="../../../"
alias ..4="../../../../"

alias up="cd .."
alias up2="cd ../.."
alias up3="cd ../../.."
alias up4="cd ../../../.."

alias dev="cd ~/Development"

alias c="clear"
alias v="vim"
alias f="find . -iname"
alias k="kubectl"
alias mux='tmuxinator'

alias pline="printf '%*s\n' \"${COLUMNS:-$(tput cols)}\" '' | tr ' ' -"
alias 3pline="pline;pline;pline"

# piped commands
alias H="head"
alias T="tail"
alias G="grep"
alias L="less"
alias N="/dev/null 2>&1"

# postgres
alias pgstart="pg_ctl -D /usr/local/var/postgres -l /usr/local/var/postgres/server.log start"
alias pgstop="pg_ctl -D /usr/local/var/postgres stop -s -m fast"
alias pgstatus="pg_ctl -D /usr/local/var/postgres status"
alias pgtail="tail -f /usr/local/var/postgres/server.log"

# php
alias phplog="tail -f /var/log/apache2/*.log |  sed 's/\\\n/\n/g'"

# network
alias wanip="curl ipinfo.io/ip"

# silly
alias mat="cmatrix -a -b -u 4"
alias byby="say 'All systems are shutting down, Goodbye' && sudo shutdown -h now"
alias please="sudo"

# patch
alias alpha="ssh alpha"
alias beta="ssh beta"
alias gamma="ssh gamma"
alias delta="ssh delta"
